.task{
    display: grid;

    margin: 10px;
    grid-template-columns: 1fr 1fr 4fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'checkbox priority text delete';
}

.grid__checkbox{
    grid-area: checkbox;
    width: 15px;
    height: 15px;
    padding: 25px;
    align-self: center;
}

.grid__priority{
    grid-area: priority;
    padding: 10px;
    align-items: center;

}

.grid__text{
    grid-area: text;
    flex: 1;
    padding: 10px
}

.grid__delete{
    grid-area: delete;
    flex: 0;
    width: 20px;
    align-self: center;
    padding: 5px;

}

.priority_table{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;

}

.priority_mouseover{
    cursor: pointer;
}

.delete-button{
    width: 5em;
    height: auto;
    background-color: rgb(48, 115, 136);
    color: white;
    border-color: black;

}