.App {
  text-align: center;
  background-color: rgb(188, 233, 245);
}


.Tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Single-Task{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flash-on{
  color: rgb(255, 0, 0);
}
